.photo-column {
    background-color: aquamarine;
    height: 900px;
}

#photo-gallery {
    background-color: hotpink;
    height: 900px;
}

.photo-small {
    width: 100%;
    height: 380px;
    background-color: honeydew;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: darksalmon;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width:575.98px){
    .video{
        margin-top:20px;
        width:100%;
        height:400px;
    }
}

@media (min-width:767.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height:600px;
    }
}

@media (min-width:991.98px){
    .video{
        margin-top:20px;
        width:100%;
        height:800px;
    }
}
